body {
	color: black;
	background-color: aliceblue;
	font-family: Verdana;
	margin: 0px 2em;
}
.error {
	color: red;
}
#griddiv, #chartdiv {
	margin: 1em auto;
	width: 1000px;
	left: -150%;
	position: absolute;
	transition: 1s;
}
#dispgrid:checked ~ #griddiv, #dispgraph:checked ~ #chartdiv {
	left: calc(50% - 500px);
}
#displaycontrol, #displaycontrol~label, #displaycontrol~input {
   position: absolute;
}
#displaycontrol, #displaycontrol~input {
   right: 2em;
}
#displaycontrol~label {
   right: 3em;
}
#displaycontrol{
	top: 1em;
}
#dispgraph {
	top: 3em;
}	
label[for="dispgraph"]{
	top: 2.5em;
}	
#dispgrid {
	top: 5em;
}	
label[for="dispgrid"]{
	top: 4.2em;
}