html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	color: black;
	font-family: Verdana;
}
#mapdiv {
	height: 400px;
	width: 38%;
	float: left;
	border-right: 1px solid grey;
}
.error {
	color: red;
}
#status {
	position: absolute;
	bottom: 0;
	background: WhiteSmoke;
	border-top: 1px solid black;
	width: 100%;
}
#griddiv, #chartdiv {
	margin: 1em auto;
	width: 1000px;
	left: -150%;
	position: absolute;
	transition: 1s;
}
#dispgrid:checked ~ #griddiv, #dispgraph:checked ~ #chartdiv {
	left: calc(50% - 250px);  /* 500px); */
}
#displaycontrol, #displaycontrol~label, #displaycontrol~input {
   position: absolute;
}
#displaycontrol, #displaycontrol~input {
   right: 2em;
}
#displaycontrol~label {
   right: 3em;
}
#displaycontrol {
	top: 1em;
}
#dispgraph {
	top: 3em;
}
label[for=dispgraph] {
	top: 2.5em;
}
#dispgrid {
	top: 5em;
}
label[for=dispgrid] {
	top: 4.2em;
}
